<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhiteBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
  </head>
  <body style="margin:0; padding: 0; background-color: plum;">
    <h1 style="text-align: center; color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to Online WhiteBoard</h1>

    <div id="container" style="height:80vh; width:80vw; display: flex; margin: 25px auto; justify-content: space-evenly;  background-color: white; border-radius: 15px;">

        <div id="admin" style="height: 300px; width: 200px; margin:70px 20px; 
        background-color:  rgba(221, 160, 221, 0.849);text-align:center; color: white; border-radius: 15px; ">
            <i class="fa-solid fa-user-graduate" style="font-size: 80px; margin-top: 20px;
             color: rgb(255, 74, 255); background-color: white; border-radius: 40px; padding: 30px;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;"></i>
            <h1>
                ADMIN
            </h1>
            <!-- http://localhost:3000/admin -->
            <a href="https://online-whiteboard-nikhil.herokuapp.com/admin" target="_blank">
            <input type="button" name="owner" id="owner" value="ADMIN PAGE" style="border:none; color:white; padding: 10px 20px; border-radius: 15px; background-color:rgba(236, 38, 236, 0.849) ;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
        </a>
        </div>
        <div id="client" style="height: 300px; width: 200px; margin:70px 20px; background-color: rgba(221, 160, 221, 0.849); color: white; text-align: center; border-radius: 15px;" >
            <i class="fa-solid fa-user" style="font-size: 80px; margin-top: 20px; color:  rgb(255, 74, 255); background-color: white; border-radius: 40px; padding: 30px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;" ></i>
            <h1>
                USER
            </h1>
            <a href="https://online-whiteboard-nikhil.herokuapp.com/user" target="_blank">
            <input type="button" name="user" id="user" value="USER PAGE" style="border:none; color:white; padding: 10px 20px; border-radius: 15px; background-color:rgba(236, 38, 236, 0.849) ;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
        </a>
        </div>

    </div>
  </body>
</html>
